{% include 'navbar.html' %}



{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<div class="jumbotron p-5 mb-4 text-white bg-secondary bg-gradient">
    <h1 class="display-4">Off-Grounds Housing</h1>
    <p class="lead">Find your home today.</p>
  </div>

<div class="container">
{% if apartment_list %}
    <div class="row">
    {% for t in apartment_list %}
    <div class="col-md-4">
        <h3><a href="{% url 'apartment' t.id%}">{{ t }}</a></h3>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No apartments are available.</p>
{% endif %}
</div>