{% include 'navbar.html' %}



{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load apt_handling %}
<style>
.jumbotron {
  background-image: url("uva\ banner.png");
  background-size: cover;
}
</style>
<!-- <img src="uva banner.png" class="img-fluid" alt="Responsive image"> -->
<div class="jumbotron p-5 mb-4 text-white bg-secondary bg-gradient">
    <!-- p-5 mb-4 text-white bg-secondary bg-gradient -->
    <h1 class="display-4">Off-Grounds Housing</h1>
    <p class="lead">Find your home today.</p>
</div>

<!-- <div class="container">
    <h4>Filter your search:</h4>
    <div class="row">
        <div class="col-md-4">
            <p>Min Price: </p>
            <input class="form-control form-control-sm" type="text" aria-label=".form-control-sm example">
        </div>
        <div class="col-md-4">
            <p>Max Price: </p>
            <input class="form-control form-control-sm" type="text" aria-label=".form-control-sm example">
        </div>
    </div>

   
</div> -->

<form action="{% url 'search_results' %}" method="get">
    <input name="name_query" type="text" placeholder="Search">
    <button type="submit">Search</button>
</form>

<div class="container">
{% if apartment_list %}
    <div class="row">
    {% for t in apartment_list %}
    <div class="col-md-4">
        {%  if t.id %}
            <h3><a href="{% url 'apartment' t.id%}">{{ t }}</a></h3>
        {%  endif %}
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No apartments are available.</p>
{% endif %}
</div>
