 {% include 'navbar.html' %}



{% load bootstrap5 %}
{% load apt_handling %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% if apartment %}
    <h1>{{ apartment.apt_name }}</h1>
    {%  include 'map.html' %}
    <table class="table">
      <tbody>
      {% for field in apartment|get_valid_fields %}
          <tr>
            <th scope="row">{{ field|field_desc }}</th>
            <td>{{ apartment|getattr:field }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No apartments are available.</p>
{% endif %}
