{% include 'navbar.html' %}
{% include 'footer.html' %}

{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<style>
    .jumbotron {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a9cfad3af20961f181cdcaa/1553464748625-TQABLODKOX8ZQ7VSQ904/UVA+Wide+Banner.jpg?format=2500w");
    background-size: cover;
    background-position: center center;
  }
  .backdrop {
        background-color: #e3f2fd;
        margin-top: 0px;
        margin-bottom: 0px;
}
  p {
        color: #ffffff;
}
</style>

<div style="background-color: #e3f2fd">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4"><p>Your Housing Search Solution!</p></h1>
    <p class="lead"> Browse through apartment/house listings and reviews.</p>
    <p class="lead">Submit your own review or a apartment/house listing.</p>
    <p class="lead">Create an account with your preferences.</p>
    <hr class="my-4">
    <p>Find your home today.</p>
    <p class="lead">
      <a class="btn btn-light btn-outline-primary btn-lg" href="{% url 'apartments'%}" role="button">View Listings</a>
    </p>
    <hr class="my-4">
  </div>
</div>
<body class="backdrop">
    <div class="card">
        <h5 class="card-header" style="text-align: center; background-color: rgb(236, 236, 236);">Welcome!</h5>
        <div class="card-body">
          {% if user.is_authenticated %}
          <h5 class="card-title" style="text-align: center; color:black">Manage your account:</h5>
          <div class="col-md-12 text-center">
          <a type="button" class="btn btn-outline-primary" style="text-align: center;" href="{% url 'my_profile'%}">View Profile</a>
          <a type="button" class="btn btn-outline-warning" style="text-align: center;" href="{% url 'logout'%}">Sign Out</a>
            </div>
          {%  else %}
          <h5 class="card-title" style="text-align: center;">Sign in to your account to save your personal housing preferences!</h5>
          <div class="col-md-12 text-center">
          <a type="button" class="btn btn-outline-success" style="text-align: center;" href="{% provider_login_url 'google' %}">Sign In</a>
            </div>
          {% endif %}
        </div>
      </div>
</body>
</div>
