{% include 'navbar.html' %}
{% include 'footer.html' %}

{% load bootstrap5 %}
{% load socialaccount %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<style>
    .jumbotron {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a9cfad3af20961f181cdcaa/1553464748625-TQABLODKOX8ZQ7VSQ904/UVA+Wide+Banner.jpg?format=2500w");
    background-size: cover;
    background-position: center center;
  }
  p {
        color: #ffffff;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4"><p>Your Housing Search Solution!</p></h1>
    <p class="lead"> Browse through apartment/house listings and reviews.</p>
    <p class="lead">Submit your own review or a apartment/house listing.</p>
    <p class="lead">Create an account with your preferences.</p>
    <hr class="my-4">
    <p>Find your home today.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'apartments'%}" role="button">View Listings</a>
    </p>
    <hr class="my-4">
  </div>
</div>



