 {% include 'navbar.html' %}
 {% include 'footer.html' %}


{% load bootstrap5 %}
{% load model_object_handling %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% if profile %}
    <table class="table">
      <tbody>
      {% for field in profile|get_valid_fields %}
          <tr>
            <th scope="row">{{ profile|field_desc:field }}</th>
            <td>{{ profile|getattribute:field }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>No user profiles are available.</p>
{% endif %}
