{% load bootstrap5 %}
{% bootstrap_css %}

{% include 'navbar.html' %}
{% include 'footer.html' %}

<style>
    .backdrop {
        background-color: #e3f2fd;
        margin-top: 0px;
        margin-bottom: 0px;
      }
</style>

<body class="backdrop">
<form method="post">
    {% csrf_token %}
<div class="container rounded mt-5 mb-5">
    <div class="backdrop">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div>
                    <h4 class="text-right">Review</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Apartment</label>
                        {{ form.apt_name }}
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Stars (out of 5)</label>
                        {{ form.apt_stars }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Review</label>
                        {{ form.apt_review }}
                    </div>
                </div>
                <div class="form-group" style= "padding-top: 15px">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</form>
</body>