
{% include 'footer.html' %}

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load socialaccount %}

<nav class="navbar sticky-top navbar-light bg-light" >
  <a class="navbar-brand" style=" font-size: 1.9rem; font-weight: 400; margin-left: -27px" href="{% url 'homepage'%}">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/University_of_Virginia_Rotunda_logo.svg" width="34" height="34" class="d-inline-block align-top" alt="" style="margin-left: 0.1in; margin-right: 0.05in; margin-top: -6px">
      UVA Off Grounds Housing
  </a>

<ul class="nav nav-pills nav-fill" style="margin-left: 361px">
  <li class="nav-item" style="font-size: 1.6rem; font-weight: 400;">
    <a class="nav-link {% if apartments %}active{% endif %}" href="{% url 'apartments'%}">View Apartment Listings</a>
  </li>
  <li class="nav-item" style="font-size: 1.6rem; font-weight: 400;">
    <a class="nav-link {% if reviews %}active{% endif %}"  href="{% url 'reviews'%}">View Apartment Reviews</a>
  </li>
  <li class="nav-item" style="font-size: 1.6rem; font-weight: 400;">
    <a class="nav-link {% if insertReview %}active{% endif %}" href="{% url 'insert_review'%}">Write an Apartment Review</a>
  </li>
  {% if user.is_superuser %}
  <li class="nav-item" style="font-size: 1.6rem; font-weight: 400;">
    <a class="nav-link {% if insertApartment %}active{% endif %}" href="{% url 'insert_apartment'%}">Submit an Apartment Listing</a>
  </li>
  {% endif %}
  <li class="nav-item" style="font-size: 1.6rem; font-weight: 400;">
    <a class="nav-link {% if myProfile %}active{% endif %}" href="{% url 'my_profile'%}">View Profile</a>
  </li>
  <!-- moved to homepage -->
  <!--
  <li class="nav-item">
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout'%}">Logout</a>
      {%  else %}
        <a class="nav-link" href="{% provider_login_url 'google' %}">Login</a>
      {% endif %}
  </li>
  -->
</ul>
</nav>



<div class="last-content" id="wrapper">
    {% if review_list %}
    
    {% regroup review_list by apt_name as property_list %}
        <ul>
        {% for property in property_list  %}
            <li>
                <div class='panel-group'>
                    <div class='panel' style="color: white; background-color: #0d6efd !important">
                        <div class='panel-heading'>
                            <h3 class='panel-title' data-target='#panel-{{forloop.counter}}' data-toggle='collapse'>{{property.grouper}}</h3>
                            <div class='panel-collapse collapse' id='panel-{{forloop.counter}}'>    
                                <div class='panel-body'>
                                    <ul>
                                        {% for review in property.list %}
                                        
                                        <li>
                                            <div class='panel-group'>
                                                <div class='panel' style="color: white; background-color: #0d6efd !important">
                                                    <div class='panel-heading'>
                                                        <h3 class='panel-title' data-target='#reviewPanel-{{review.id}}' data-toggle='collapse'>
                                                            {{review.apt_reviewer}}
                                                            <span style="float:right;">
                                                                Rating: {{review.apt_stars}}
                                                            </span>
                                                        </h3>
                                                        <div class='panel-collapse collapse' id='reviewPanel-{{review.id}}'>
                                                            <div class='panel-body'>
                                                                {{review.apt_review}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    
                                        </li>
                                        
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </li>
        {%endfor%}
        </ul>
    
    {% else %}
        <p>No reviews are available.</p>
    {% endif %}
    </div>
    





<!-- Style -->
<style>
    ul {
     list-style-type: none;
    }
    #review:link {
        color: #fff;
    }
    #review:visited {
        color: #fff;
    }
    #wrapper {
       margin-right: 20px;
    }
  
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>